<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <event name="item:saving">
        <handler type="Sitecore.Support.Tasks.ItemEventHandler,Sitecore.Support.367174" method="OnItemSaving" patch:instead="*[@type='Sitecore.Tasks.ItemEventHandler, Sitecore.Kernel']">
          <databases hint="list">
            <database>master</database>
            <database>core</database>
          </databases>
        </handler>
      </event>
      <event name="item:copied">
        <handler type="Sitecore.Support.Tasks.ItemEventHandler,Sitecore.Support.367174" method="OnItemCopied" patch:instead="*[@type='Sitecore.Tasks.ItemEventHandler, Sitecore.Kernel']">
          <databases hint="list">
            <database>master</database>
            <database>core</database>
          </databases>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>